<%= form_for [commentable Comment.new], url: comments_path do |f|%>
  <div class="form-group">
    <% f.text_area :body, class: "form-control", placeholder:"Comment Here"%>
  </div>
  <%debugger%>
<%=f.submit class: "btn btn-primary"%>
<%end%>
