<div class= "container-fluid">
  <div class= "jumbotron text-center" >
    <h1>Welcome to Project Management</h1>
  </div>

    <div class= "row">
      <% if user_signed_in? %>
        <div class = "col">
          <kbd><%= link_to "SignOut",destroy_user_session_path,method: :delete%></kbd>
        </div>
      <%else%>
      <div class = "col">
        <kbd><a href="<%= new_user_registration_path%>">Sign up</a></kbd>
      </div>
      <div class = "col">
        <kbd><a href="<%= new_user_session_path%>">Sign in</a></kbd>
      </div>
      <%end%>
    </div>
</div>
