<div class = "container">
<%= form_for @account, :as => :account, :url => accounts_path(@account)  do |f| %>
  <div class="form-group">
    <%= f.label :Account_name %><br />
    <%= f.text_field :name, autofocus: true,class:"form-control", autofocus: true,autocomplete: "name" %>
  </div>
  <%= f.submit :class => "btn btn-success btn-mini" %>
  <%end%>
</div>
