<%= form_for @invitation, :as => :invitation do |f| %>
  <div class="field">
    <%= f.label :invite_email %><br />
    <%= f.email_field :invite_email, autofocus: true   %>
  </div>
    <%= f.submit "send invitation" %>
  </div>
  <%end%>
